#daohang {
    nav {
        margin: 0 -15px;
        .navbar-brand {
            font-weight: bold;
            margin: 0 35px 0 20px;
        }
        div {
            ul {
                font-size: 16px;
                font-weight: bolder;
                li {
                    margin: 0 10px;
                }
            }
        }
    }
}

//标签
#tags {
    div {
        p {
            width: 100%;
            padding: 7px 15px;
            font-size: 20px;
            font-weight: bold;
            color: #fff;
            background-color: #eee;
        }
        .tags_1 {
            padding: 0 15px;
            .manytags {
                margin: 4px 0;
                a {
                    font-size: 15px;
                    margin: 2px 0;
                    text-decoration: none;
                }
            }
            .manytags_special {
                a {
                    font-size: 15px;
                    margin: 2px 0;
                    text-decoration: none;
                }
            }
        }
        .tags_2 {
            padding: 0 15px;
            li {
                margin: 6px 0;
                span {
                    // font-weight: bold;
                    font-size: 16px;
                }
                p {
                    background-color: darkorange;
                    color: #1e7e34;
                    font-weight: bold;
                    font-size: 16px;
                }
                a {
                    color: black;
                    font-size: 14.5px;
                    margin-right: 7px;
                }
                a:hover {
                    font-size: 14.5px;
                    color: #fff;
                    background-color: #00cc99;
                    text-decoration: blink;
                }
            }
        }
    }
}

//女神beauty
#beauty {
    .beauty_list {
        p {
            width: 100%;
            padding: 7px 15px;
            font-size: 20px;
            font-weight: bold;
            background-color: #eee;
        }
        .beauty_img_display {
            margin-top: 15px;
            .thumbnail {
                .imgs_link {
                    img {
                        height: auto;
                        display: block;
                        width: 100%;
                        border: 1px solid #ddd;
                    }
                }
                .beauty_imgs_title {
                    .title_height {
                        // text-align: center;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        font-size: 14px;
                        line-height: 1.2rem;
                        margin-top: 7px;
                        margin-bottom: -5px;
                        padding: 0 3px;
                        a:hover {
                            font-size: 14.5px;
                        }
                    }
                }
            }
        }
    }
    .more_beauty_button {
        a {
            color: #fff;
            font-size: large;
            font-weight: 500;
            border: 1px solid #ddd;
            background-color: #f84f7a;
        }
    }
}

//底部footer
footer {
    .footer_title {
        margin: 0 -15px;
        p {
            width: 100%;
            padding: 7px 15px;
            font-size: 20px;
            font-weight: bold;
            color: white;
        }
    }
    .many_links {
        div {
            ul {
                margin-bottom: 10px;
                padding: 15px 0;
                border: 1px solid rgba(0, 0, 0, .125);
                li {
                    margin: 0 -2px;
                    padding: 0 5px;
                    display: inline-block;
                    text-align: center;
                    a {
                        font-size: 15px;
                        color: #6c757d;
                    }
                    a:hover {
                        color: #fff;
                        background-color: #28a745;
                    }
                }
            }
        }
    }
}

//底部版权
#copyright {
    div {
        p {
            font-size: 14px;
            line-height: 1.3rem;
        }
    }
}