<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../dist/css/init.css">
    <link rel="stylesheet" href="../dist/css/old_school.min.css">

    <title>beauty_album</title>
</head>

<body>
    <script id="__bs_script__">
        //<![CDATA[
        document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.26.7'><\/script>".replace("HOST", location.hostname));
        //]]>
    </script>


    <!-- 导航栏 开始 -->
    <nav class="container" id="daohang">
        <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <a class="navbar-brand " href="# ">首页</a>
            <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarSupportedContent " aria-controls="navbarSupportedContent " aria-expanded="false " aria-label="Toggle navigation ">
                <span class="navbar-toggler-icon "></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent ">
                <ul class="navbar-nav mr-auto ">
                    <li class="nav-item ">
                        <a class="nav-link text-light" href="# ">最新情报</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-light" href="# ">美女图集</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-light" href="# ">女神专区</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-light" href="# ">经典珍藏</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-light" href="# ">女神排行榜</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-light" href="# ">每日更新</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0 ">
                    <input class="form-control mr-sm-2 " type="search " placeholder="输入搜索美女 " aria-label="Search " name="q">
                    <button class="btn btn-success border-light my-2 my-sm-0 text-light font-weight-bolder" type="submit ">搜索一下</button>
                </form>
            </div>
        </nav>
    </nav>

    <!-- 导航栏 结束 -->

    <!-- 搜索栏 开始 -->

    <!-- 搜索栏 结束 -->

    <!-- 内容区 开始 -->

    <!-- 每日更新图集 开始 -->
    <div class="container border mt-3" id="altas">
        <div class="imgs_list row d-flex flex-row">
            <p>经典图集珍藏</p>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/24110/32977/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.28 悠悠酱yoyoyo</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/27717/32976/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.23 No.2184 陈小喵</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/27614/32975/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.23 No.2182 良人非爱人</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/24936/32974/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[YOUMI] 2020.04.13 VOL.452 Egg-尤妮丝Egg</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/24041/32973/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[CANDY] 2020.04.24 VOL.080 筱慧</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/24936/32972/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[YOUMI] 2020.04.10 VOL.451 Egg-尤妮丝</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/22899/32971/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XIAOYU] 2020.04.23 VOL.295 芝芝Booty</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/21036/32970/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.29 沈梦瑶</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/27867/32969/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.27 陈梵妮Fanny</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/26563/32968/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.17 九月生</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/23100/32967/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[HuaYang] 2020.04.15 VOL.237 梦心月</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/22204/32966/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.21 No.2177 Angela小热巴</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/26377/32965/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.21 No.2174 BABY_柒</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-3">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/27826/32964/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[YOUMI] 2020.04.09 VOL.450 白露小猪</a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="pages_list row mt-5 mb-3">
            <div class="page m-auto">

                <a href="http://www.uutu.me/index.php?c=New&amp;p=1">上一页</a>
                <a class="active" href="http://www.uutu.me/index.php?c=New&amp;p=1">1</a>
                <a href="javascript:void(0)">2</a>
                <a href="http://www.uutu.me/index.php?c=New&amp;p=3">3</a>
                <a href="javascript:void(0)" class="active2">...</a> <a href="http://www.uutu.me/index.php?c=New&amp;p=274">274</a>
                <a href="http://www.uutu.me/index.php?c=New&amp;p=3">下一页</a>

            </div>
        </div>
    </div>
    <!-- 每日更新图集 结束 -->


    <!-- 最近更新的热门图集 开始 -->
    <div class="container border mt-4 mb-4" id="suggest_album">
        <div class="row xtitle">
            <div class="col-12 xxtitle">
                <div class="title">
                    <p class="lefttitle">最近更新的热门图集</p>
                    <a class="text-dark" href="">
                        <p class="change">
                            <svg width="1.4em" height="1.4em" viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M2.854 7.146a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L2.5 8.207l1.646 1.647a.5.5 0 0 0 .708-.708l-2-2zm13-1a.5.5 0 0 0-.708 0L13.5 7.793l-1.646-1.647a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0 0-.708z" />
                            <path fill-rule="evenodd"
                                d="M8 3a4.995 4.995 0 0 0-4.192 2.273.5.5 0 0 1-.837-.546A6 6 0 0 1 14 8a.5.5 0 0 1-1.001 0 5 5 0 0 0-5-5zM2.5 7.5A.5.5 0 0 1 3 8a5 5 0 0 0 9.192 2.727.5.5 0 1 1 .837.546A6 6 0 0 1 2 8a.5.5 0 0 1 .501-.5z" />
                        </svg> 换一组
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="imgs_list row d-flex flex-row justify-content-around">
            <div class="img_display col-6 col-sm-6 col-lg-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/24110/32977/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.28 悠悠酱yoyoyo</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/27717/32976/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.23 No.2184 陈小喵</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/27614/32975/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.23 No.2182 良人非爱人</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/24936/32974/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[YOUMI] 2020.04.13 VOL.452 Egg-尤妮丝Egg</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/24110/32977/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.28 悠悠酱yoyoyo</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/24110/32977/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.28 悠悠酱yoyoyo</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/27717/32976/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.23 No.2184 陈小喵</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/27614/32975/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.23 No.2182 良人非爱人</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/24936/32974/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[YOUMI] 2020.04.13 VOL.452 Egg-尤妮丝Egg</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/24110/32977/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.28 悠悠酱yoyoyo</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/24110/32977/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.28 悠悠酱yoyoyo</a>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="img_display col-6 col-sm-6 col-lg-2">
                <div class="thumbnail">
                    <a class="imgs_link" href="">
                        <img class=" border border-light" src="https://t1.onvshen.com:85/gallery/24110/32977/cover/0.jpg" alt="">
                    </a>
                    <div class="imgs_title">
                        <h2 class="title_height">
                            <a class="text-light" href="">[XiuRen] 2020.04.28 悠悠酱yoyoyo</a>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 最近更新的热门图集 结束 -->

    <!-- 内地女神 开始 -->
    <!-- 内地女神 结束 -->

    <!-- 台湾女神 开始 -->
    <!-- 台湾女神 结束 -->

    <!-- 日本女神 开始 -->
    <!-- 日本女神 结束 -->

    <!-- 韩国女神 开始 -->
    <!-- 韩国女神 结束 -->


    <!-- 内容区 结束 -->

    <!-- 底部footer信息展示 开始 -->
    <footer class="container mt-5 d-sm-none d-md-block">
        <div class="footer_title">
            <p class="bg-dark">图集快速导航</p>
        </div>
        <div class="row many_links">
            <div class="d-sm-none d-md-block">
                <ul class="list-inline rounded-bottom bg-light">
                    <li class="col-2 col-sm-2"><a href=" ">雅拉伊</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">秀人网</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">美媛馆</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">爱蜜社</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">魅妍社</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">尤蜜荟</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">蜜桃社</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">尤物馆</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">御女郎</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">嗲囡囡</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">优星馆</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">影私荟</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">语画界</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">花の颜</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">星乐园</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">推女郎</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">星颜社</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">尤果网</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">尤果圈</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">优果网</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">推女神</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">顽味生活</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">波萝社</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">猎女神</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">激萌文化</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">兔几盟</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">青豆客</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">果团网</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">熊川纪信</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">轰趴猫</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">头条女神</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">阳光宝贝</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">飞图网</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">蜜团女孩</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">模范学院</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">熊薄荷叶</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">花漾</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">尤美</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">蜜丝</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">克拉女神</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">瑞丝馆 (猫萌榜)</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">网红馆(糖果画报)</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">51modo</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">RQ-STAR</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">YS-Web</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">DGC</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">Bomb.tv</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">@misty</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">Sabra.net</a></li>
                    <li class="col-2 col-sm-2"> <a href=" ">4K-STAR</a></li>

                </ul>
            </div>
        </div>

    </footer>
    <!-- 底部footer信息展示 结束 -->

    <!-- 底部版权 开始 -->
    <div class="container mt-3 mb-3" id="copyright">
        <div>
            <p class="text-center text-secondary">本站所有资源来源于网友上传与分享，如有关内容侵犯了你的权益，请联系告之，我们会第一时间删除！邮箱:zngirls520@gmail.com
            </p>
            <p class="text-center text-secondary">© 2017－2019 nvshens.net, all rights reserved</p>
        </div>
    </div>
    <!-- 底部版权 结束 -->





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/dist/js/jquery-3.4.1.min.js "></script>
    <script src="/dist/js/popper.min.js "></script>
    <script src="/dist/js/bootstrap.min.js "></script>
</body>

</html>